<% disabled ||= false %>

<div class="named-contact-card__details">
  <div class="named-contact-card__name">
    <div class="named-contact-card__title">
      <div class="named-contact-card__field">
        <%= form.label :title %>
        <%= form.text_field :title, disabled: disabled %>
      </div>
    </div>
    <div class="named-contact-card__first-name">
      <div class="named-contact-card__field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, disabled: disabled %>
      </div>
    </div>
    <div class="named-contact-card__last-name">
      <div class="named-contact-card__field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, disabled: disabled %>
      </div>
    </div>
  </div>
  <div class="named-contact-card__mobile">
    <div class="named-contact-card__field">
      <%= form.label :mobile_number %>
      <%= form.text_field :mobile_number, disabled: disabled %>
    </div>
  </div>
  <div class="named-contact-card__address">
    <div class="named-contact-card__field">
      <%= form.label :address %>
      <%= form.text_area :address, cols: 80, rows: 5, disabled: disabled %>
    </div>
  </div>
</div>
